@import url(https://fonts.googleapis.com/css?family=Helvetica);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: #1D2B30;
    font-family: 'Helvetica', serif;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #425085;
    font-family: 'Helvetica', serif;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #425085;
    font-family: 'Helvetica', serif;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-family: 'Helvetica', serif;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-family: 'Helvetica', serif;
    font-weight: 500;
}

h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Helvetica', serif;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    margin-bottom: 15px;
    font-family: 'Helvetica', serif;
    font-weight: 500;
}

p {
    font-size: 16px;
    color: #1D2B30;
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: 'Open Sans', serif;
}

li {
    font-size: 16px;
    color: #1D2B30;
    margin-bottom: 15px;
    line-height: 1.5;
    font-family: 'Open Sans', serif;
}

span {
    font-size: 16px;
}

header {
    display: block;
    margin: 0;
    padding: 0;
}

.header-inner {
    width: 1180px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 100px;
}

.site-logo {
    display: flex;
    float: left;
    box-sizing: border-box;
    align-self: center;
}

.site-logo img {
    max-width: 150px;
}

.menu-wrap {
    display: flex;
    float: right;
    align-self: center;
}

.header-bottom nav {
    background: white;
}

.menu-text {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.menu-text li {
    display: inline-block;
    font-size: 16px;
    background: white;
    margin: 0;
}

.menu-text li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 74px;
    padding-right: 30px;
    color: #3d4566;
    font-weight: bold;
    font-family: 'Helvetica', serif;
}

.header-bottom nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 11111;
    padding: 0;
    box-shadow: 1px 1px 5px #eaeaea;
}

.header-bottom nav ul ul li {
    width: 240px;
    float: none;
    display: list-item;
    position: relative;
    padding: 10px 20px;
    list-style-type: none
}

.header-bottom nav ul li:hover ul {
    display: block;
}

.header-bottom nav .menu-text ul li a {
    line-height: 1.5;
    padding: 0;
}

.header-bottom nav .menu-text ul li:hover {
    background: #d3d3d3;
}

.header-bottom {
    background-color: white;
    min-height: 60px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #cdcdcd;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;
    margin: auto;
}

.banner-wrap {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.38)), url('banner.jpg');
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
}

.banner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title h1,
.banner-title p {
    color: white;
    text-align: center;
}

.page-header-wrap {
    background: linear-gradient(to right, rgb(61, 69, 102), rgba(61, 69, 102, 0.7)), url('banner.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    position: relative;
}

.page-header-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-header-title h1 {
    color: white;
    text-align: center;
}

.bar {
    margin: 0 auto;
    width: 620px;
    border: 1px solid #dcdcdc;
    background: white;
}

.bar:hover {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within {
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline: none;
}

.searchbar {
    height: 45px;
    border: none;
    width: 550px;
    font-size: 16px;
    outline: none;
    background: none;
    padding: 10px 10px 10px 20px;
}

i.search-icon {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.container2 {
    max-width: 1180px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

main {
    width: 75%;
    padding-right: 40px;
}

.side {
    width: 25%;
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    position: sticky;
    height: 100%;
    
}

ul.side-list {
    list-style: none;
    border-left: 2px solid #bcbcbc;
    padding-left: 15px;
}

.side-list a {
    text-decoration: none;
    color: #1D2B30;
}

.side-list a:hover {
    color: #8c98ca;
}

.side-list a:active {
    color: #8c98ca;
}

.row-col-1 {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 50px;
}

.row-col-2 {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 15px;
}

.row-col-3 {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1em;
    margin-bottom: 15px;
}

.row-col-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 15px;
}

.col {
    padding: 0 15px;
}

.col-box {
    border-radius: 12px;
    border: 1px solid #cdcdcd;
    margin: 0 10px;
    padding: 20px;
}

.row-event .col-box {
    overflow: hidden;
    padding: 0;
}

.sec-space {
    padding: 50px 0;
}

.col-right {
    margin-left: 50px;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto 0;
    flex-direction: row;
}

.tabs input[type='radio'] {
    display: none;
}

.tabs label {
    padding: 25px;
    font-weight: bold;
    font-size: 16px;
}

.tabs .tab {
    padding: 50px 20px;
    order: 1;
    display: none;
    border-top: 1px solid #cdcdcd;
}

.tabs .tab a {
    text-decoration: underline;
}

.tabs .tab a:hover {
    text-decoration: underline;
}

.tabs input[type='radio']:checked+label+.tab {
    display: block;
}

.tabs input[type='radio']:checked+label {
    border-bottom: 2px solid #5f5f5f;
}

h3.finding-title {
    color: #8c98ca;
    font-size: 40px;
    margin-bottom: 0;
}

.heading-line h2 {
    display: flex;
    align-items: center;
}

.heading-line h2::before {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #8c98ca;
    ;
    margin-right: 15px;
}

.image-wrap img {
    width: 500px;
}

hr {
    border: 1px solid #cdcdcd;
    margin-bottom: 50px;
}

.img-caption {
    font-style: italic;
    text-align: right;
    font-size: 14px;
}

.sign-content {
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
    bottom: 20%;
    height: 550px;
    padding: 40px;
    background: #eeeeee;
    display: none;
    box-shadow: 1px 1px 8px #777777;
    overflow-y: scroll;
}

.sign-content:target {
    display: block;
}

.close-icon {
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    position: sticky;
    top: 10px;
    right: 10px;
}

.close-icon:hover {
    padding-bottom: 10px;
    color: rgb(48, 149, 169);
}

.sign-box-dark {
    background: #8c98ca;
    color: white;
    border: 0;
}

.sign-box-bright {
    background: white;
    color: #1D2B30;
    border: 0;
    box-shadow: 1px -2px 5px #afb8dd;
}

.sign-box:hover {
    box-shadow: 1px -2px 5px #65709f;
}

.sec-topic a {
    text-decoration: none;
    color: #425085;
}

.sec-topic .col-box:hover {
    background: #8c98ca;
    color: white;
}

.sec-topic .col-box:hover a {
    color: white;
    text-decoration: underline;
}

table {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border: "1";
}

th:nth-of-type(1) {
    text-align: center;
    width: 17px;
}

th:nth-of-type(2) {
    width: 688px;
}

th:nth-of-type(3) {
    width: 39px;
}

tr>th:first-child,
tr>td:first-child,
td:third-child {
    text-align: center;
}

th,
td {
    padding: 10px;
}

thead {
    background: black;
    color: white;
}

tbody tr:nth-of-type(odd) {
    background: #ededed;
}

.col-event {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;
    padding: 20px;
}

.col-event:hover {
    transform: scale(1.05);
}

.event-1 {
    background-image: url("road-safety-img.jpg");
}

.event-2 {
    background-image: url("remembrance-img.jpg");
}

.event-3 {
    background-image: url("car-free-img.jpg");
}

.event-4 {
    background-image: url("cycle-img.jpg");
}

.event-5 {
    background-image: url("broadcast-img.jpg");
}

.event-desc-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.event-desc h3,
.event-desc h5 {
    color: white;
    text-shadow: 1px 1px 5px #000000;
}

.event-desc h3 {
    font-size: 28px;
}

.event-desc h5 {
    font-size: 14px;
}

.event-link {
    text-decoration: none;
}

.livedemo-1 {
    background-image: url("quiz.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.livedemo-2 {
    background-image: url("cardgame.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.livedemo-3 {
    background-image: url("chatbot.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.col-demo {

    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 0.3s;
    padding: 20px;
    aspect-ratio: 1 / 1;
}

#footer {
    display: block;
    padding: 30px 0;
    background: #425085;
    color: white;
}

.footer-wrapper {
    width: 100%;
    position: relative;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.footer-column {
    flex: 1;
    float: left;
    box-sizing: border-box;
}

#footer ul {
    padding: 0;
}

#footer ul>li {
    list-style: none;
}

#footer h5 {
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: white;
}

.footer-first {
    padding-bottom: 30px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid white;
}

.footer-bottom p {
    text-align: center;
    color: #bababa;
}

.wrapper {
    width: 550px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

.calandar-header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

.icons {
    display: flex;
}

.icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span:last-child {
    margin-right: -10px;
}

.icons span:hover {
    background: #f2f2f2;
}

.current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
    flex-grow: 1;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background: #2a27ec;
}

.days li.special-event {
    color: #FFFFFF; /* White color for the text */
}

.days li.special-event::before {
    background: #4CAF50; /* Example background color */
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:not(.active):hover::before {
    background: #959fc2;
}

.content {
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
}

.ui-datepicker-calendar .special-date a {
    background-color: #00FF00;
    /* Green color */
    color: #fff;
    /* Text color */
}

#details {
    transition: all 0.3s ease;
    font-size: 30px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    height: 120px;
    text-align: center;
    font-family: sans-serif;
}

.calandar {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    min-height: 100vh;
    background: white;
}

#quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 1180px;
    position: relative;
    height: 400px;
}

#question-container {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.btn {
    cursor: pointer;
    padding: 10px;
    background-color: #b186d6;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

#quiz-over-message {
    font-size: large;
    font-style: italic;
}

#score-container {
    display: none;
}

#score-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.quiz-container {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    width: 1180px;
}

.wrapper {
    padding: 20px 50px;
}

.wrapper .title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}

.wrapper p {
    text-align: justify;
    padding-bottom: 20px;
}

.counter-up {
    min-height: vh;
    padding: 50px 50px;
    position: relative;
    display: flex;
    align-items: center;
}

.counter-up::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f7f0ed;
    background-image: linear-gradient(45deg, #6f7fd8 0%, #c3c7db 100%);
    border-radius: 45px;
}

.counter-up .content {
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.counter-up .content .box {
    border: 1px solid rgba(12, 10, 10, 0.6);
    width: calc(25% - 60px);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
}

.content .box .icon {
    font-size: 48px;
    color: #2e3c56;
}

.content .box .counter {
    font-size: 50px;
    font-weight: 500;
    color: #000102;
    font-family: sans-serif;
}

.content .box .text {
    font-weight: 400;
    color: #ccc;
}

@media screen and (max-width: 1036px) {
    .counter-up {
        padding: 50px 50px 0 50px;
    }
    .counter-up .content .box {
        width: calc(50% - 30px);
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 580px) {
    .counter-up .content .box {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 20px;
    }
    .counter-up {
        padding: 30px 20px 0 20px;
    }
}