    @import url(https://fonts.googleapis.com/css?family=Helvetica);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans);
    .call-to-action {
        text-align: center;
        padding-top: 100px;
        
    }
    
    .image-container {
        position: relative;
        display: inline-block;
    }
    
    .text1 {
        text-align: center;
        align-items: center; /* Vertical centering */
        justify-content: center; /* Horizontal centering */
        height: 100%; /* Adjust as needed */
    }


    .circle-button:hover + .text1 .p {
        color: black;
    }
    
    .p {
        font-size: 16px;
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    
    .circle-button {
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #425085;
        transition: background-color 0.3s ease;
        text-decoration: none;
        color: brown;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .circle-button:hover {
        opacity: 0.7;
    }
    
    .main-image {
        margin-top: 50px;
        transform: scale(2);
    }

    .cta-container {
        background-color: #fff;
      
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 1180px;
        position: relative;
    
    }

    .bannerdiv {
        background-color: #425085;
        width: 1180px;
        position: relative;
        padding: 50px 0;
    
    }


    
    #question-container {
        padding: 20px;
        text-align: center;
        margin-top: 40px;
    }