#image-container {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

.image {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reveal {
    opacity: 1;
}