/* Setting fade transition and default settings */
body {
    color: #000;
    background-color: white;
    transition: background-color 1s ease;
  }
  
  /* panel styles */
  .panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
  }

  .panel h2 {
    color: white;
  }
  
  /* colours */
  .color-g01 {
    background-color: #EA1D2D;
  }
  .color-g02 {
    background-color: #D2A025;
  }
  .color-g03 {
    background-color: #2D9A47;
  }
  .color-g04 {
    background-color: #C5192D;
  }
  .color-g05 {
    background-color: #EF412A;
  }
  .color-g06 {
    background-color: #00AED9;
  }
  .color-g07 {
    background-color: #FDB714;
  }
  .color-g08 {
    background-color: #8F1838;
  }
  .color-g09 {
    background-color: #F36E24;
  }
  .color-g10 {
    background-color: #E01A83;
  }
  .color-g11 {
    background-color: #F99D25;
  }
  .color-g12 {
    background-color: #CD8B2A;
  }
  .color-g13 {
    background-color: #48773C;
  }
  .color-g14 {
    background-color: #007DBC;
  }
  .color-g15 {
    background-color: #40AE49;
  }
  .color-g16 {
    background-color: #00558A;
  }
  .color-g17 {
    background-color: #1A3668;
  }
  
  /* styling for demo, can ignore */
  body {
    text-align: center;
    font-size: 120%;
    line-height: 1.618;
  }
  h1, h2 {
    font-size: 3em;
    letter-spacing: -0.05em;
    line-height: 1.1;
  }
  p {
    max-width: 30em;
    margin-bottom: 1.618em;
  }
  a {
    color: #4332CF;
  }

  /*------Targets------*/
  .goal-img{
    width:100%;
    display: inline-block;
  }
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #7665a0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  .img-container{
    position: relative;
    width:175px;
    height: 175px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
  }


  .img-container img{
    display: block;
  }

  .flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .img-container:hover .overlay {
    bottom: 0;
    height: 100%;
  }

  .text {
    color: white;
    font-size: 14px;
    position: absolute;
    width:90%;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .image-text{
    position: absolute;
    top:80%;
    right:45%;
    color:white;
    font-size:20px;
    font-weight:bold;
    text-shadow: 2px 2px 0px #000000;
  }

  .wheel{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  } 

  .imgcentre{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container2{
    scroll-snap-type: y mandatory;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1180px;
    width: 100%;
    justify-content: center;
    margin: auto;
    /*align-items: center; */
  }


  .panel .row {
    display: flex;
    flex-wrap: row wrap;
    max-width: 1180px;
    width: 100%;
    justify-content: center;
    margin: auto;
    /*align-items: center; */
  }
  .panel .column{
    flex: 1;
    float: left;
    box-sizing: border-box;
  }
  .panel .col-7{
    display: inline;
    flex:1;
    float:left;
    width:70%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .panel .col-3{
    width:30%;
    padding-right: 15px;
    box-sizing: border-box;
  }
