.gif-section {
    height: 1450px;
    /* Adjust as per your GIF's height */
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
}

.gif-section .plane-white{
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: cover;
    position: absolute;
    z-index: 3;
}

.gif-section img {
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    width: 50%;
    height: 50%;
    z-index: 5;
    object-fit: cover;
    position: absolute;
}

.gif-section #image2 {
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    z-index: 7;
    animation: orbit 12s linear infinite;
    transform-style: preserve-3d;
}

.gif-section #image3 {
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    z-index: 4;
    animation: orbit1 6s linear infinite;
    transform-style: preserve-3d;
}

.gif-section #image4 {
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    z-index: 7;
    animation: orbit2 6s linear infinite;
    transform-style: preserve-3d;
}

.gif-section #image5 {
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: transform 0.1s ease-in-out;
    position: absolute;
    z-index: 7;
    animation: orbit3 9s linear infinite;
    transform-style: preserve-3d;
}

@keyframes orbit {
    0% {
        transform:  translate(-1000px, 200px) ;
      }
      25% {
        transform:  translate(-500px, 200px) ;
      }
      50% {
        transform:  translate(0px, 200px) ;
      }
      75%{
        transform:  translate(500px, 200px) ;
      }
      100% {
        transform:  translate(1000px, 200px) ;
      }
    
  }

  @keyframes orbit1 {
    0% {
        transform:  translate(-1000px, 100px) ;
      }
      25% {
        transform:  translate(-500px, 100px) ;
      }
      50% {
        transform:  translate(0px, 100px) ;
      }
      75%{
        transform:  translate(500px, 100px) ;
      }
      100% {
        transform:  translate(1000px, 100px) ;
      }
    
  }

  @keyframes orbit2 {
    0% {
        transform:  translate(1000px, 900px) rotateZ(30deg) ;
      }
      25% {
        transform:  translate(500px, 450px) rotateZ(30deg) ;
      }
      50% {
        transform:  translate(0px, 0px) rotateZ(30deg) ;
      }
      75%{
        transform:  translate(-500px, -450px) rotateZ(30deg) ;
      }
      100% {
        transform:  translate(-1000px, -900px)  rotateZ(30deg);
      }
    
  }

  @keyframes orbit3 {
    0% {
        transform:  translate(-1000px, 900px) rotateZ(-30deg) ;
      }
      25% {
        transform:  translate(-500px, 450px) rotateZ(-30deg) ;
      }
      50% {
        transform:  translate(0px, 0px) rotateZ(-30deg) ;
      }
      75%{
        transform:  translate(500px, -450px) rotateZ(-30deg) ;
      }
      100% {
        transform:  translate(1000px, -900px)  rotateZ(-30deg);
      }
    
  }

.subpage-section {
    width: 100%;
    height: 100%;
    /* Adjust as needed */
    top: 100%;
    /* Position off-screen */
    left: 0;
    transition: top 0.5s ease-in-out;
}

.subpage-section.active {
    top: 0;
    /* Slide into view */
}

embed {
    overflow: hidden;
}
